<div>
    <div class="example">
        <p class="title">
            Columns
        </p>

        <br/>

        <p class="subtitle">
            Simple Columns:
        </p>

        <br/>

        <div class="columns">
            <div class="column" style="background-color: #00d1b2">1</div>
            <div class="column" style="background-color: #2366d1">2</div>
            <div class="column" style="background-color: #ff1f4b">3</div>
            <div class="column" style="background-color: #ffd83d">4</div>
            <div class="column" style="background-color: grey">5</div>
            <div class="column" style="background-color: brown">6</div>
        </div>
    </div>

    <br/>

    <div class="example">
        <p class="subtitle">
            Columns Size:
        </p>
    </div>
</div>