<div>
    <p class="subtitle">
        Simple Columns:
    </p>

    <div class="columns">
        <div class="column">1</div>
        <div class="column">2</div>
        <div class="column">3</div>
        <div class="column">4</div>
        <div class="column">5</div>
        <div class="column">6</div>
    </div>

    <br/>
    <p class="subtitle">
        Magic Tiles:
    </p>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child">
                Row 1
                </article>
                <article class="tile is-child">
                Row 2
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                Row 3
                </article>
                <article class="tile is-child">
                Row 4
                </article>
            </div>
            </div>
            <div class="tile is-parent">
            <article class="tile is-child">
                Row 5
            </article>
            <article class="tile is-child">
                Row 6
            </article>
            </div>
        </div>
    </div>
</div>