<div>
    <div class="example">
        <p class="subtitle">
            Simple Columns:
        </p>

        <div class="columns">
            <div class="column" style="background-color: #00d1b2">1</div>
            <div class="column" style="background-color: #2366d1">2</div>
            <div class="column" style="background-color: #ff1f4b">3</div>
            <div class="column" style="background-color: #ffd83d">4</div>
            <div class="column" style="background-color: grey">5</div>
            <div class="column" style="background-color: brown">6</div>
        </div>
    </div>

    <br/>

    <div class="example">
        <p class="subtitle">
            Magic Tiles:
        </p>

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-9">
                <div class="tile" style="background-color: #00d1b2">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child">
                        Row 1
                        </article>
                        <article class="tile is-child">
                        Row 2
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child">
                        Row 3
                        </article>
                        <article class="tile is-child">
                        Row 4
                        </article>
                    </div>
                </div>
                <div class="tile is-parent" style="background-color: #2366d1">
                    <article class="tile is-child">
                        Row 5
                    </article>
                    <article class="tile is-child">
                        Row 6
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>